.chatWindow {
    /* background-color: #212121; */
    background-color: var(--bg-primary);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


/* Navbar part */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span {
    margin: 1rem 2rem;
}

.userIconDiv {
    margin: 1rem 2rem;
}

.userIcon {
    /* background-color: grey; */
    background-color: var(--bg-tertiary);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Chat Input */
.chatInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.inputBox {
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.inputBox input {
    width: 100%;
    border: none;
    /* background-color: rgba(255, 255, 255, 0.05); */
    background-color: var(--bg-input);
    padding: 20px;
    font-size: 0.8rem;    
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px
                rgba(0, 0, 0, 0.05) 0 4px 6px
                rgba(0, 0, 0, 0.05) 0 12px 3px
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

input:focus {
    outline: none;
}

#submit {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#submit i:hover {
    /* color: #fff; */
    color: var(--text-primary);
}

.info {
    font-size: 0.8rem;
    padding: 0.5rem;
    /* color: #b4b4b4; */
    color: var(--text-secondary);
}

.dropDown {
    position: absolute;
    top: 4rem;
    right: 4rem;
    /* background-color: #323232; */
    background-color: var(--bg-tertiary);
    width: 150px;
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    text-align: left;
    z-index: 1;
    box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.1);
}

.dropDownItem {
    font-size: 0.9rem;
    margin: 0.3rem 0rem;
    padding: 0.5rem 0.2rem;
    cursor: pointer;
}

.dropDownItem i {
    font-size: 0.8rem;
    
}

.dropDownItem:hover {
    /* background-color: rgba(180, 180, 180, 0.1); */
    background-color: var(--bg-hover);
    border-radius: 6px;
}

.log-sign-btn {
    display: flex;
}

.log-sign-btn a {
    text-decoration: none;
}