.chats {
    max-width: 700px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-primary) var(--bg-tertiary);
    padding: 8rem;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}


.userMessage {
    /* background-color: #323232; */
    background-color: var(--user-message-bg);
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.hljs {
    border-radius: 14px;
}

pre {
    white-space: pre-wrap;
}

@media (max-width: 768px) {

    .chats {
        padding: 1rem 0.75rem;
        max-width: 80%;
    }

    .userDiv,
    .gptDiv {
        font-size: 0.875rem;
        /* margin-bottom: 0.75rem; */
    }

    .userMessage {
        margin-left: 0;
        max-width: 85%;
        padding: 10px 14px;
        border-radius: 12px;
        font-size: 0.875rem;
    }

    .gptDiv {
        max-width: 95%;
    }
}